.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}

.form__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__label{
    margin-top: .5em;
    font-size: 24px;
    width: 40vh;
    display: inline-block;
}

.form__input{
    width: 20vw;
    height: 2vh;
    margin-left: .5em;
}

.form__input:focus{
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #5fa8d3;
    border-right: 1px solid #5fa8d3;
    outline: none;
    border-bottom-right-radius: 6px;
}

.form__select{
    height: 3vh;
    width: 20vw;
    margin-left: .5em;
}

.form__submit{
    margin-top: 1em;
    border-radius: 6px;
    height: 2em;
    width: 50%;
}

.form__option{
    margin-top: 20em;
    margin-bottom: 20em;
}
