.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8em;
}

.list__title{
    padding-top: .5em;
    padding-bottom: .5em;
}

.list__container{
    list-style-type: none;
    width: 20vw;
    font-size: 24px;

}

.list__items{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 6px;
    margin: .2em;
}

.list__element{
    height: 5vh;
    display: flex;
    align-items: center;
    padding: .5em;
    justify-content: space-between;
}

.list__label{
    padding-left: .5em;
    overflow: hidden;
    width:15vw;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

}

.list__label-line-througth{
    text-decoration: line-through;
}

.list__delete{
    border: none;
    width: 12em;
    height: 1.5em;
    margin-bottom: .3em;
}

