.footer{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 10vh;
    background-color: #1e272e;
    display: flex;
    justify-content: space-around;
}

.footer__personal{

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.footer__comment{

    display: flex;
    align-items: center;
}

.footer__social{

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__text{
    color: white;
    padding-top: 1em;
}

.footer__text-strong{
    font-weight: bold;
}

.footer__link{
    padding: .5em;
}
